@using DACSN.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DACSN.Models.BaiViet>

@{
    ViewBag.Title = "Search_BaiViet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    #test {
        width: 450px;
        height: 250px;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>..</text>
    }
}
<h2>Kết quả tìm được</h2>

<p>
    Kết quả tìm được : @ViewBag.Count_KQ
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!--<h6 class="m-0 font-weight-bold text-primary">DataTables Articles</h6>-->
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tiêu đề</th>
                        <th>Tóm tắt</th>
                        <th>Nội dung</th>
                        <th>Ảnh bìa</th>
                        <th>Ngày viết</th>
                        <th>Người viết</th>
                        <th>Danh mục</th>
                        <th>Tag</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><div>@item.IdBV</div></td>
                            <td style="max-width: 60px;"><div>@item.TieuDe</div></td>
                            <td style="max-width: 120px;"><div>@item.TomTat</div></td>
                            <td style="width:400px"><div id="test">@Html.Raw(item.NoiDung)</div></td>
                            <td style="max-width: 200px;"><div><img style="max-width: 150px" src="~/Images/@item.Hinh" /></div></td>
                            <td style="max-width: 100px;"><div>@item.NgayViet</div></td>
                            <td style="max-width: 50px;"><div>@item.NguoiViet</div></td>
                            <td style="max-width: 50px;"><div>@item.IdDM</div></td>
                            <td style="max-width: 50px;"><div>@item.Tag</div></td>
                            <td style="max-width: 100px;">
                                <div>

                                    @Html.ActionLink("Details", "Details", new { id = item.IdBV })
                                </div>
                                <div>@Html.ActionLink("Edit", "Edit", new { id = item.IdBV })</div>
                                <div>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IdBV })
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Thêm mã phân trang -->
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">

    @Html.PagedListPager(Model, page => Url.Action("Search_BaiViet", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>
@Html.ActionLink("Quay lại Trang", "Index", "BaiVietNV")