@model DACSN.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .form-horizontal .form-group {
        margin-right: -70px;
        margin-left: 30px;
    }

    .form-control {
        background: #262e49;
        color: aliceblue;
    }

        .form-control[readonly] {
            background: #262e49;
            color: aliceblue;
            border: 1;
        }

    .col-md-offset-2 {
        margin-left: -24.333333%;
    }

    .nut input[type="submit"] {
        background: #000;
        color: aliceblue;
        border: 10px;
        text-align: center;
    }

        .nut input[type="submit"]:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            color: red;
            border: red;
        }

        .nut input[type="submit"]:active {
            background-color: /*rgb(91 89 89 / 0.51)*/ #51A9FF;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật Khẩu Mới" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập Lại Mật Khẩu Mới" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(a => a.ResetCode);
        </div>

        <div class="form-group">
            <div class="nut col-md-offset-2">
                <input type="submit" value="Đổi Mật Khẩu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại trang Đăng Nhập", "DangNhapNV")
</div>


