@model DACSN.Models.BaiViet
@{
    ViewBag.Title = "Xoá bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc muốn xóa sản phẩm này?</h3>
<div>
    <h4>Thông tin sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            Tiêu đề
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <hr />
        <dt style="text-align:left">
            Tóm tắt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomTat)
        </dd>
        <hr />
        <dt style="text-align:left">
            Nội dung
        </dt>

        <dd>
            @Html.Raw(Model.NoiDung)
        </dd>
        <hr />
        <dt style="text-align:left">
            Ngày viết
        </dt>

        <dd>
            @Html.FormatValue(Model.NgayViet, "{0:dd/MM/yyyy}")
        </dd>
        <hr />

        <dt style="text-align:left">
            Người viết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiViet)
        </dd>

        <hr />
        <dt style="text-align:left">
            Ảnh bìa
        </dt>

        <dd>
            <div><img src="~/Images/@Model.Hinh" style="height:250px;width:400px;" alt="@Model.TieuDe" /></div>
        </dd>
        <hr />
        <dt style="text-align:left">
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDM)
        </dd>
        <hr />
        <dt style="text-align:left">
            Tag
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <hr />
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>

