<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="SHORTCUT ICON" href="~/Images/LogoBD.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Plugin/AdminTemplate/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Plugin/AdminTemplate/fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Plugin/AdminTemplate/css/animate.min.css" rel="stylesheet" />

    <!-- Custom styling plus plugins -->

    <link href="~/Plugin/AdminTemplate/css/custom.css" rel="stylesheet" />
    <link href="~/Plugin/AdminTemplate/css/maps/jquery-jvectormap-2.0.1.css" rel="stylesheet" />
    <link href="~/Plugin/AdminTemplate/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="~/Plugin/AdminTemplate/css/floatexamples.css" rel="stylesheet" />
    <script src="~/Plugin/AdminTemplate/js/jquery.min.js"></script>
    <script src="~/Plugin/AdminTemplate/js/nprogress.js"></script>
    <script>NProgress.start();</script>
    <script src="~/Scripts/ThongBao.js"></script>
    <script src="~/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
            selector: 'textarea',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help',
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
        });</script>

    <style type="text/css">
        .alert {
            margin-bottom: 0px;
        }

            .alert alert-success {
                position: absolute;
            }
    </style>
</head>

<body class="nav-md">
    <div class="container body">

        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" id="linkHomePage" class="site_title"><i class="fa fa-paw"></i> <span>Admin Page</span></a>
                        <script>window.document.getElementById('linkHomePage').href = window.location.origin;</script>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src='~/Images/ys.jpg' class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Nhân viên</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Quản lý tài khoản <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            @Html.Action("TTCN","NhanVien")
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                            <h3>Phần Danh Mục</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-windows"></i> Quản lý bài viết<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            @Html.ActionLink("Tạo bài viết", "Create", "BaiVietNV")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Danh sách bài viết", "Index", "BaiVietNV")
                                        </li>
                                        @*<li>
                                                @Html.ActionLink("Danh sách danh mục", "Index", "DanhMucNV")
                                            </li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <!--<img src='~/Images/Members/@Session["temp"]/@Session["image"]' class="img-circle profile_img" />-->
                                    <img src='~/Images/ys.jpg' class="img-circle profile_img" />
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li>
                                        <a href="#">Trợ giúp</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FormLuaChon", "LoginDN")">Đăng xuất</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->

            <div class="right_col" role="main">
                @if (TempData["AlertMessage"] != null)
                {
    <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
        @TempData["AlertMessage"]
    </div>}


                @RenderBody()

            </div>
            <!-- /page content -->
        </div>
    </div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="~/Plugin/AdminTemplate/js/bootstrap.min.js"></script>
    <!-- gauge js -->
    <script src="~/Plugin/AdminTemplate/js/gauge/gauge.min.js"></script>
    <script src="~/Plugin/AdminTemplate/js/gauge/gauge_demo.js"></script>
    <!-- chart js -->
    <script src="~/Plugin/AdminTemplate/js/chartjs/chart.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="~/Plugin/AdminTemplate/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Plugin/AdminTemplate/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->

    <script src="~/Plugin/AdminTemplate/js/icheck/icheck.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Plugin/AdminTemplate/js/moment.min.js"></script>
    <script src="~/Plugin/AdminTemplate/js/datepicker/daterangepicker.js"></script>

    <script src="~/Plugin/AdminTemplate/js/custom.js"></script>
    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->

    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.pie.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.orderBars.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.time.min.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/date.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.spline.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.stack.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/curvedLines.js"></script>
    <script src="~/Plugin/AdminTemplate/js/flot/jquery.flot.resize.js"></script>

    @RenderSection("Scripts", false)
    <!-- /datepicker -->
    <!-- /footer content -->
</body>
</html>
